<div class="card" data-id=" <%= portofolio.id %> ">
    <%= image_tag portofolio.thumb_image unless portofolio.thumb_image.nil? %>
    <p class="card-text">
        <span><%= link_to portofolio.title, portofolio_show_path(portofolio.id) %></span>
        <%= portofolio.subtitle %>
    </p>
</div>


<%# 
<%= link_to "Edit", edit_portofolio_path(portofolio.id) %>

<%# <%= link_to "Delete Portofolio Item", portofolio_path(portofolio.id), method: :delete, data: { confirm: "Are you sure?" } %> 
