<p>Pages#home</p>
<h1>Hi, <%= current_user.first_name %></h1>

<h2>Blogs</h2>
<%= @blogs.inspect %>

<h2>Skills</h2>

<%= @skills.inspect %>

<hr>

<%= content_tag :h3, class: "my-special-class" do %>
Hi, I'm in a paragraph class
<% end %>

<%= login_helper %>

<%= sample_helper %>
